.sider 
  .inner-menu
    ul 
      li
        a(href=`http://localhost:3000${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`http://localhost:3000${prefixAdmin}/products-category`) Danh mục sản phẩm
      li
        a(href=`http://localhost:3000${prefixAdmin}/products`) Danh sách sản phẩm
      li
        a(href=`http://localhost:3000${prefixAdmin}/roles`) Nhóm quyền
      li
        a(href=`http://localhost:3000${prefixAdmin}/roles/permissions`) Phân quyền
      li
        a(href=`http://localhost:3000${prefixAdmin}/accounts`) Danh sách tài khoản
      li
        a(href=`http://localhost:3000${prefixAdmin}/settings/general`) Cài đặt chung